[submodule "talib"]
	path = talib
	url = https://github.com/fmorency/talib.git
	branch = fix-db-lock
[submodule "mfx-migrator"]
	path = mfx-migrator
	url = https://github.com/fmorency/mfx-migrator.git
	branch = parallel-claim
[submodule "alberto"]
	path = alberto
	url = https://github.com/fmorency/alberto.git
	branch = token-migration
